.container{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.section{
    background-color: rgb(1, 41, 66);
    height: 600px;
    width: 400px;
    padding: 20px ;
}
input{
    width: 350px;
    height: 60px;
    margin-top: 15px;
    outline: none;
    border: none;
    background: none;
    text-align: end;
    color: white;
    font-size: 50px;
    
}
.number{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    color: blanchedalmond;
}
.button-style{
    padding:15px;

}
.light-grey-bg{
    background-color :#759cef;
    color: #000;
}
.grey-bg{
    background-color: #a0a0a0;
  color:#000;
}
